:root {
  --main: #55a3f0;
  --background: #f9f9f9;
  --text: #212121;
  --gray: #b9b9b9;
  --red: #f43f5e;
  --white: #ffffff;
  --gray_background: #f2f2f2;
  --green: #4ade80;
  --pagination: #8d8d8d;
  --border_login: #e4e4e4;
  --background--modal: #3333337d;
  --cancel_button: #dfdfdf;

  --success-border: #01c851;
  --error-border: #ff3447;
  --warning-border: #ffbb35;
  --info-border: #2196f3;
  --success-background: #edf6ea;
  --error-background: #fde9e7;
  --warning-background: #fef8e6;
  --info-background: #eff3ff;
}
